<h1>Movies#confirm</h1>
<h2>Some other titles your summary might belong to instead:</h2>

<h2> Current movie name: <%= @movie.name %> </h2>
<%= params %>
<% if @results.count > 0 %>
  <% @results.each do |r|%>
  <table>
    <tr>
      <td>
        <%= link_to r.title, confirm_dbid_movie_path(moviedb_id: r.id) %> <i>(<%= r.release_date[0...4]%>)</i>
        <%# link_to r.title, @movie.id.to_s+"/"+(r.id.to_s)+"/"+r.title.to_s %> <i>(<%= r.release_date[0...4]%>)</i> - <%= r.id%>
      </td>
    </tr>
  </table>
  <% end %>
<% else %>
  <p>No results</p>
<% end %>