
<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<script src="typehead.js"></script>
<script>
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substrRegex;
    matches = [];
    substrRegex = new RegExp(q, 'i');
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push({ value: str });
      }
    });
    cb(matches);
  };
};
  
  var movies = <%= raw @movie_names.to_json %>;
  
$('#title .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'movies',
  displayKey: 'value',
  source: substringMatcher(movies)
});
  </script>

<div class="field" id="title">
    <% if action_name == "new" %>
      <%= f.label :movie_title, "Movie Title" %><br>
  <%= f.text_field :movie_title, class: "typeahead" %>
    <% else %>
      <%= @review.movie.name %>
    <% end %>
  </div>


<%= f.range_field :rating, :min=>0, :max=>200, :class=>"range-slider", :id=>"rating"%>


<div class="row">
  <div class="small-10 medium-11 columns">
    <div class="range-slider" data-slider data-options="display_selector: #sliderOutput3;">
      <span class="range-slider-handle" role="slider" tabindex="0"></span>
      <span class="range-slider-active-segment"></span>
      <input type="hidden" id='rating' name='rating'>
    </div>
  </div>
  <div class="small-2 medium-1 columns">
    <span id="sliderOutput3"></span>
  </div>
</div>

  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>

 <!--For character count -->
<script type="text/javascript">
  $(document).ready(function() {
  $("#review_summary").keyup(function() {
    var counter = $("#counter");
    var charsRemaining = 140 - $(this).val().length;
    counter.text(charsRemaining);
    counter.css('color', (charsRemaining < 0) ? 'red' : 'black');
  });
});
</script>

<!-- Contains character count -->
<div id="counter"></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>