<script>
  var movies_list_url = "<%= movies_list_url(format: :json) %>";
</script>
<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="field" id="title">
  <% if action_name == "new" || @review.movie.moviedb_id == nil %>
      <%= f.label :movie_title, "Movie Title" %><br>
      <%= f.text_field :movie_title, class: "typeahead" %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary, id: "summary"%>
  </div>
<div id="chars">140</div>
<br><br>


  <div class="actions">
    <%= f.submit "Submit", :class => "button radius" %>
  </div>
<p> <i>*Summaries must be 140 character or less. Otherwise, this would be way too easy.</p></i>
<% end %>
    
    
