<div class="row">

<aside align="right" class="large-2 columns right">
<ul id="drop" class="f-dropdown content" data-dropdown-content>
  <li align="left"><%= link_to 'Hottest', sort_reviews_by_path('hot') %></li>
  <li align="left"><%= link_to 'Recent', sort_reviews_by_path('recent') %></li>
  <li align="left"><%= link_to 'Score', sort_reviews_by_path('top') %></li>
</ul>
  &nbsp;&nbsp;&nbsp;<a href="#"  data-dropdown="drop" class="tiny button dropdown">Sort By</a>
</aside>
</div>
  

<% @reviews.each do |review| %>
<div class="row">
  <div class="large-10 columns">
 
    <div class="row">
        <div align="center" class="large-2 columns small-3 show-for-large-up">
          <%= render 'score', :review => review %>
        </div>
          <div align="center" class="large-2 medium-3 small-5 columns show-for-medium">
            <% poster_path = review.movie.image %>
            <div class="score_image_small" style="background-image: url('http://image.tmdb.org/t/p/w130<%= poster_path %>')"><div class="dark_overlay">
              <h1><span class="score_text_small"><%= review.score %></h1></span>
              </div>
            </div>
            

        </div>
        <div class="large-10 columns medium-9 small-7">
          <%= render 'summary', :review => review %>
        </div> 
      </div>
<hr/> 
     <br><br>      
    </div>

  <aside class="large-2 columns show-for-large-up">
      <% poster_path = review.movie.image %>
      <% if poster_path != nil %>
    <center><%= link_to image_tag("http://image.tmdb.org/t/p/w130"+poster_path), review.movie, class:"th" %>       </br>
        <% if review.movie.name.length > 20 %><small><% end %>
    <strong><%= link_to review.movie.name[ 0 .. 40 ], review.movie %></strong></center></small>
      <% else %>
        <center><%= link_to image_tag("http://placehold.it/100x135&text=!"), review, class:"th" %>  </br>
      <% if review.movie.name.length > 20 %><small> <% end %>
      <strong><%= link_to review.movie.name, review.movie %></strong></center></small>
      <% end %>
      
  </aside>
</div>

 <% end %>

<div class="row">
  <center><%= will_paginate @posts, :page_links => false %></center>
</div>
