
<% @reviews.each do |review| %>
<div class="row">
  <div class="large-10 columns">
 
    <div class="row">
        <div align="center" class="large-2 columns small-3">
          

          <%= render 'score', :review => review %>

          
        </div>

        <div class="large-10 columns">
          
          <%= render 'summary', :review => review %>

        </div> 
      </div>

     <br><br> <hr/>      
    </div>
 

  <aside class="large-2 columns hide-for-small">
      <% poster_path = review.movie.image %>
      <% if poster_path != nil %>
      <center><%= link_to image_tag("http://image.tmdb.org/t/p/w130"+poster_path), review, class:"th" %> </br>
        <% if review.movie.name.length > 20 %><small><% end %>
    <strong><%= link_to review.movie.name[ 0 .. 40 ], review.movie %></strong></center></small>
      <% else %>
        <center><%= link_to image_tag("http://placehold.it/100x135&text=!"), review, class:"th" %>  </br>
      <% if review.movie.name.length > 20 %><small> <% end %>
      <strong><%= link_to review.movie.name, review.movie %></strong></center></small>
      <% end %>
      <!--<p><%= review.score %></p>-->
  </aside>
</div>

 <% end %>
<%= will_paginate @posts %>
