
<% @reviews.each do |review| %>
<div class="row">
    <div class="large-10 columns">
 
       
      <div class="row">
        <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
        <div class="large-10 columns">
          <p><strong><%= review.movie.name %>:</strong>
            <%= review.summary %></p>

          <ul class="inline-list">
            <li><%= link_to 'Edit', edit_review_path(review) %></li>
            <li><%= link_to 'Show', review %></li>
          </ul>

        </div>
                
      </div>

      <hr/>      
    </div>
 


  
    <aside class="large-2 columns hide-for-small">
      <p><%= review.score %></p>
    </aside>
 
  </div>

 <% end %>
     
 

