<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @review.movie %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @review.summary %>
</p>

<p>
  <strong>Posted by  <a href="/user/<%=User.find(@review.user_id).id %>"><%= User.find(@review.user_id).username %></a> </strong>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
