<p>
  <strong>Movie:</strong>
  <%= link_to @review.movie.name, @review.movie %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Score:</strong>
  <%= @review.score %><br>
  testing # of votes = <%= @score %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @review.summary %>
</p>

<p>
  <strong>Posted by  <%= link_to @review.user.username, @review.user %></strong>
</p>

<!-- Show appropriate voting button -->
<% if current_user != nil %>
  <%  if Vote.where(review_id:@review, user_id:current_user.id).count < 1 %>
  <%= button_to '+1', upvote_review_path(@review), method: :post %>
  <% else %>
  <%= button_to '-1', delete_vote_review_path(@review), method: :post %>
  <% end %>
<% else %>
Login to vote!<br>
<% end %>


<% if @review.updated_at != @review.created_at %>

<p>Edited on: <%= @review.updated_at.to_s(:rfc822) %> PST
</p>
<% end %>



<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
