<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= analytics_init if Rails.env.production? %>
    
    <title>TLDW - Movie Summaries</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <div id="headstrip">
     <div class="row">
       <div class="large-8 columns">
         <a href="/"><%= image_tag "logo3.png" %></a>
       </div>  
       <div id="login" class="large-4 columns" align="right">
         <%# user is logged in, show log out link %>
          <% if current_user.present? %>
         <br>You are  logged in as <%= link_to current_user.username, user_path(current_user.id) %><br><br>

          <% else %>
         <br>
          <%= link_to 'Sign In', new_user_session_path %> |
          <%= link_to 'Register Now!', new_user_registration_path %><br><br>
        <% end %> 
        
         <%= button_to 'New Summary', new_review_path, method: :get, class: "button radius" %>
       </div> 
     </div>
    </div>
    </div>
          
          
          
          
  <div class="row">
    <div class="large-12 columns">
          <% if notice || alert %>
        <div data-alert class="alert-box secondary">
           <p class="notice"><%= notice %></p>
           <p class="alert"><%= alert %></p>
            <a href="" class="close">&times;</a>
           <% end %>
        </div>
    </div>
</div>
  
 <br><br>
<div class="row">
    <div class="large-12 columns">
     <%= yield %>
     </div>
</div>
   
 
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-5 columns">
          <p><b>WARNING</b>: Spoilers probably everywhere. - <%= link_to 'v1.0', version_path %> </p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><%= link_to 'About', about_path %></li>
            <% if current_user %>
            <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </footer>

<br>
  <%= javascript_include_tag "application" %>
  </body>
</html>