<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="row">
    <div class="large-7 columns">
      <div class="panel">
        <h1><a href="/">TLDR Movie Reviews</a></h1>
        <br>    
        <p id="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
 
    
    <div class="large-5 columns">
      <%# user is logged in, show log out link %>
  <% if current_user.present? %>
  <%= "You are  logged in as #{current_user.username}." %>
  
  <a href="/users/<%= current_user.id %>">Profile</a>

  

  
    <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path %> |
    <%= link_to 'Register Now!', new_user_registration_path %>
  <% end %>
        
  <br>
    <h4><%= link_to 'New Review', new_review_path %></h4>
      
    </div>
    </div>
  
     <%= yield %>
    <%= javascript_include_tag "application" %>
 
   
 
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-5 columns">
          <p>©</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
    

<br>
  
  </body>
</html>